.custom-fit-row{
    margin-right: 0% !important;
    margin-left: 0% !important;
    padding-right: 0% !important;
    padding-left: 0% !important;
}

.custom-fit-col{
    margin-right: 0% !important;
    margin-left: 0% !important;
    padding-right: 0% !important;
    padding-left: 0% !important;
}

.row{
    margin-right: 0% !important;
    margin-left: 0% !important;
    padding-right: 0% !important;
    padding-left: 0% !important;
}